// Entry point for your Sass build

/*
 *= require_tree .
 *= require_self
 */

a {
  text-decoration: none;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background: #dedede;
}

.main-left {
  float: left;
  width: 33.3%;
}

.main-right {
  float: right;
  width: 66.6%;
}

.category-box {
  width: 33%;
  float: left;
}

.category-post {
  margin-bottom: 10px;
  padding: 15px;
  background: #eee;
}

.post-date {
  font-size: 0.8em;
  color: #999;
}

.post-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-print {
  float: right;
}

.posted-at {
}

.post-id {
  margin-right: 20px;
}

.post-meta {
  margin-top: 30px;
}
